/[Ll]ibrary/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Uu]serSettings/
/[Rr]ecordings/
*.unitypackage

/.vs/
/.idea/
/.vscode/
.vsconfig
*.csproj
*.sln

ProjectSettings/ProjectVersion.txt

Assets/ClothDynamics/
!Assets/ClothDynamics/Scripts/V2/ClothObjectGPU.cs
!Assets/ClothDynamics/Scripts/V2/GPUClothDynamicsV2.cs